@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>公告发布</title>
    <link href="~/Content/assets/design/css/trumbowyg.css" rel="stylesheet" />
    <script src="~/Content/assets/jquery-v1.10.2.min.js"></script>
    <script src="~/Content/assets/jquery.min.js"></script>
    <script src="~/Content/assets/trumbowyg.js"></script>
    <script src="~/Content/assets/plugins/base64/trumbowyg.base64.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/lang/zh-cn/zh-cn.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/waves.min.css?v=0.7.2">

    <script type="text/javascript">
        var key = window.location.search.split("=");
        var keyValue = key[1]
        
        $(function () {
            Equipmentoption();
            Unitoption();
            option();
            if (!!keyValue) {
                $.ajax({
                    url: "/SystemManage/Equipment/GetFormJson",
                    data: { keyValue: keyValue },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        $("#EquipName").val(data.EquipName)
                        $("#EquipType").val(data.EquipType)
                        $("#EquipModel").val(data.EquipModel)
                        $("#Position").val(data.EquipPosition)
                        $("#EquipCode").val(data.EquipCode)
                        $("#FaceAlgorithmVer").val(data.FaceAlgorithmVer)
                        $("#EquipLongitude").val(data.EquipLongitude)
                        $("#EquipLatitude").val(data.EquipLatitude)
                        $("#EquipAddr").val(data.EquipAddr)
                        $("#EquipPort").val(data.EquipPort)
                        $("#EquipSn").val(data.EquipSn)
                        $("#Suppliers").val(data.Suppliers)
                        $("#SdkVer").val(data.SdkVer)
                        $("#Appid").val(data.Appid)
                        $("#SdkKey").val(data.SdkKey)
                        $("#SoftVer").val(data.SoftVer)
                        $("#EquipMask").val(data.EquipMask)
                        $("#ServerIp").val(data.ServerIp)
                        $("#ServerPort").val(data.ServerPort)
                        $("#ServerId").val(data.ServerId)
                        $("#ServerMask").val(data.ServerMask)
                        $("#ShowTxt").val(data.ShowTxt)
                        $("#FloorCode").val(data.FloorCode)
                        $("#UnitCode").val(data.UnitCode)
                        $("#CompanyCode").val(data.CompanyCode)
                        $("#CommunityCode").val(data.CommunityCode)
                    }
                });
            }
            initControl();
        });
        function initControl() {
            $("#F_Gender").bindSelect()
            $("#F_IsAdministrator").bindSelect()
            $("#F_EnabledMark").bindSelect()
            $("#F_OrganizeId").bindSelect({
                url: "/SystemManage/Organize/GetTreeSelectJson"
            });
            $("#F_DepartmentId").bindSelect({
                url: "/SystemManage/Organize/GetTreeSelectJson",
            });
            $("#F_RoleId").bindSelect({
                url: "/SystemManage/Role/GetGridJson",
                id: "F_Id",
                text: "F_FullName"
            });
            $("#F_DutyId").bindSelect({
                url: "/SystemManage/Duty/GetGridJson",
                id: "F_Id",
                text: "F_FullName"
            });
        }

        ///加载楼栋下拉框
        function Equipmentoption() {

            $.ajax({
                //几个参数需要注意一下
                type: "Post",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/SystemManage/Unit/Equipmentselect",//url
                success: function (result) {

                    $('#FloorCode').append(result.m_StringValue)
                    $("#FloorCode")[0].appendChild(result.m_StringValue)
                    document.getElementById("select").innerHTML = result.m_StringValue;
                },
                error: function (data) {

                    alert("操作失败")

                }
            });
        }

        ///加单元栋下拉框
        function Unitoption() {

            $.ajax({
                //几个参数需要注意一下
                type: "Post",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/SystemManage/FreeStandard/Unitselect",//url
                success: function (result) {

                    $('#UnitCode').append(result.m_StringValue)
                    $("#UnitCode")[0].appendChild(result.m_StringValue)
                    document.getElementById("select").innerHTML = result.m_StringValue;
                },
                error: function (data) {

                    alert("操作失败")

                }
            });
        }
        ///加载小区信息下拉框
        function option() {
            $.ajax({
                //几个参数需要注意一下
                type: "Post",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/SystemManage/Floor/option",//url
                success: function (result) {

                    $('#CommunityCode').append(result.m_StringValue)
                    $("#CommunityCode")[0].appendChild(result.m_StringValue)
                    document.getElementById("select").innerHTML = result.m_StringValue;
                },
                error: function (data) {

                    alert("操作失败")

                }
            });
        }


        function submitForm() {

            var Position = $("#Position").val();
           
            $.ajax({
                //几个参数需要注意一下
                type: "Post",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/SystemManage/Equipment/addEquipment?keyValue="+ keyValue + "&EquipPosition=" + Position,//url
                data: $('#form1').serialize(),
                success: function (result) {
                    //打印服务端返回的数据(调试用)
                   
                    alert("操作成功");
                    
                    window.location.reload()

                }
            });

        }


    </script>
</head>
</html>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
            @*<li ><a href="#">扩展信息</a></li>*@
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">设备名称</th>
                    <td class="formValue">
                        <input id="EquipName" name="EquipName" type="text" class="form-control required" placeholder="请输入设备名称" />
                    </td>
                    <th class="formTitle">设备类型</th>
                    <td class="formValue">
                        <input id="EquipType" name="EquipType" type="text" class="form-control required" placeholder="请输入设备类型" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">设备型号</th>
                    <td class="formValue">
                        <input id="EquipModel" name="EquipModel" type="text" class="form-control required" placeholder="请输入型号" />
                    </td>
                    <th class="formTitle">所在位置</th>
                    <td class="formValue">
                        <input id="Position" name="Position" type="text" class="form-control required" placeholder="请输入所在位置" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">设备注册码</th>
                    <td class="formValue">
                        <input id="EquipCode" name="EquipCode" type="text" class="form-control required" placeholder="请输入注册码" />
                    </td>
                    <th class="formTitle">算法版本</th>
                    <td class="formValue">
                        <input id="FaceAlgorithmVer" name="FaceAlgorithmVer" type="text" class="form-control required" placeholder="请输入算法版本" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">经度</th>
                    <td class="formValue">
                        <input id="EquipLongitude" name="EquipLongitude" type="text" class="form-control required" placeholder="请输入经度" />
                    </td>
                    <th class="formTitle">纬度</th>
                    <td class="formValue">
                        <input id="EquipLatitude" name="EquipLatitude" type="text" class="form-control required" placeholder="请输入纬度" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">设备地址</th>
                    <td class="formValue">
                        <input id="EquipAddr" name="EquipAddr" type="text" class="form-control required" placeholder="请输入设备地址" />
                    </td>
                    <th class="formTitle">设备端口</th>
                    <td class="formValue">
                        <input id="EquipPort" name="EquipPort" type="text" class="form-control" placeholder="请输入设备端口" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">设备号</th>
                    <td class="formValue">
                        <input id="EquipSn" name="EquipSn" type="text" class="form-control required" placeholder="请输入设备号" />
                    </td>
                    <th class="formTitle">设备厂家</th>
                    <td class="formValue">
                        <input id="Suppliers" name="Suppliers" type="text" class="form-control required" placeholder="请输入设备厂家" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle"> SDK版本</th>
                    <td class="formValue">
                        <input id="SdkVer" name="SdkVer" type="text" class="form-control required" placeholder="请输入SDK版本" />
                    </td>
                    <th class="formTitle">
                        APP_ID
                    </th>
                    <td class="formValue">

                        <input id="Appid" name="Appid" type="text" class="form-control" placeholder="请输入APP_ID" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">
                        SDK_KEY
                    </th>
                    <td class="formValue">

                        <input id="SdkKey" name="SdkKey" type="text" class="form-control" placeholder="请输入SDK_KEY" />
                    </td>
                    <th class="formTitle">
                        软件版本
                    </th>
                    <td class="formValue">

                        <input id="SoftVer" name="SoftVer" type="text" class="form-control" placeholder="请输入软件版本" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">
                        设备子网
                    </th>
                    <td class="formValue">
                        <input id="EquipMask" name="EquipMask" type="text" class="form-control" placeholder="请输入设备子网" />
                    </td>
                    <th class="formTitle">
                        服务器IP
                    </th>
                    <td class="formValue">

                        <input id="ServerIp" name="ServerIp" type="text" class="form-control" placeholder="请输入服务器IP" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">
                        服务器端口
                    </th>
                    <td class="formValue">

                        <input id="ServerPort" name="ServerPort" type="text" class="form-control" placeholder="请输入服务器端口" />
                    </td>
                    <th class="formTitle">
                        服务器ID
                    </th>
                    <td class="formValue">
                        <input id="ServerId" name="ServerId" type="text" class="form-control" placeholder="请输入服务器ID" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">
                        服务器子网
                    </th>
                    <td class="formValue">

                        <input id="ServerMask" name="ServerMask" type="text" class="form-control" placeholder="请输入服务器子网" />
                    </td>
                    <th class="formTitle">
                        公司代码
                    </th>
                    <td class="formValue">
                        <input id="CompanyCode" name="CompanyCode" type="text" class="form-control" placeholder="请输入公司代码" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">
                        识别显示内容
                    </th>
                    <td class="formValue">
                        <input id="ShowTxt" name="ShowTxt" type="text" class="form-control" placeholder="请输入识别显示内容" />
                    </td>
                    <th class="formTitle">请选择小区</th>
                    <td class="formValue">
                        <select id="CommunityCode">
                            <option>请选择</option>
                        </select>
                    </td>
                </tr>


                <tr>
                    <th class="formTitle">请选择楼栋</th>
                    <td class="formValue">
                        <select id="FloorCode">
                            <option>请选择</option>
                        </select>
                    </td>
                    <th class="formTitle">请选择单元</th>
                    <td class="formValue">
                        <select id="UnitCode">
                            <option>请选择</option>
                        </select>
                    </td>
                </tr>
            </table>

        </div>

    </div>
</form>

