@{
    ViewBag.Title = "FloorIndex";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/SystemManage/Floor/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true },

                { label: '楼栋名称', name: 'F_Name', width: 80, align: 'center' },
                {
                    label: '楼栋地址', name: 'F_Addr', width: 80, align: 'center',

                },
                { label: '单元数量', name: 'F_Unit', width: 80, align: 'center' },

                {
                    label: '楼层信息', name: 'F_Info', width: 80, align: 'center'
                },
                {
                    label: '总人口数', name: 'F_Rkzs', width: 80, align: 'center'
                },
                {
                    label: '总户数', name: 'F_Fs', width: 80, align: 'center'
                },
                {
                    label: '入住户数', name: 'F_Rzfs', width: 80, align: 'center'
                },
                {
                    label: '空置户数', name: 'F_Kzfs', width: 80, align: 'center'
                },
                {
                    label: '住宅户数', name: 'F_Zzfs', width: 80, align: 'center'
                },
                {
                    label: '商用户数', name: 'F_Syfs', width: 80, align: 'center'
                },
                {
                    label: '管理楼长', name: 'F_Mange', width: 80, align: 'center'
                }
                
            ],
            pager: "#gridPager",
            sortname: 'F_DepartmentId asc,F_CreatorTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增楼栋信息",
            url: "/SystemManage/Floor/AddFloor",
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Form",
            title: "修改楼栋信息",
            url: "/SystemManage/Floor/AddFloor?keyValue=" + keyValue,
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "/SystemManage/Floor/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().F_Id },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Details",
            title: "查看楼栋信息",
            url: "/SystemManage/Floor/AddFloor?keyValue=" + keyValue,
            width: "700px",
            height: "550px",
            btn: null,
        });
    }


</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>添加楼栋信息</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-edit" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改信息</a></li>
                <li><a id="NF-edit" onclick="btn_delete()"><i class="fa fa-pencil-square-o"></i>删除信息</a></li>
                <li><a id="NF-edit" onclick="btn_details()"><i class="fa fa-pencil-square-o"></i>查看信息</a></li>

            </ul>

            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="公告类型/操作人员/设备号" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
